<script language="JavaScript">
  // document.write(location.href);
  $(function() {
    window.location = '/app/WikipediaPage#::Home?refresh=true';
    })
</script>

<ul id="home" selected="true" title="Wikipedia">  
  <li><a href="/app/WikipediaPage?refresh=true">Go</a></li>
</ul>

